[2016-11-26 17:02] jparise opened #2 "Schema-based autocomplete support"
Atom supports this via the [atom-graphql-autocomplete](https://github.com/nicolaslopezj/atom-graphql-autocomplete) plugin.

Consider [graphql-config](https://github.com/graphcool/graphql-config)-based endpoint configuration ([specification](https://github.com/graphcool/graphql-config/blob/master/specification.md)).

[2016-12-17 14:14] faergeek commented on #2
Hi, I started working on plugin for deoplete, it lacks some features and code is pretty crappy for now (I'm bad at Python), but I plan to refactor it and write tests.

Here's the repo https://github.com/faergeek/deoplete-graphql

[2017-04-07 02:01] codeNgamer opened #3 "syntax highlight not working"
Just installed this plugin using Vundle. I've opened up several ".graphql" files now but I get no syntax highlighting.

[2017-04-07 23:41] jparise commented on #3
@codeNgamer, could you verify the detected filetype by running `:echo &filetype`? It should print `graphql`. If it doesn't, the plugin is failing to detect the file for some reason.

[2017-04-08 22:50] codeNgamer commented on #3
@jparise somehow it took sourcing my vimrc a couple times before it started working. I'll close this now though

[2017-04-08 22:53] #3 closed, assigned to nobody

[2017-07-12 21:17] glacials opened #4 "Odd comment indentation behavior"
Hiya, this is a great plugin that's been very helpful! I've run into an indentation quirk recently that doesn't seem intended. Steps to repro:

1. Set these Vim options:
[code]

2. Make a `user.graphql` file with some contents like

[code]
2. Place your cursor on the first line and press `o` to insert a new line. You'll see something like this:

[code]
3. Now start a comment by pressing `#`. I exp

[2017-07-13 03:35] jparise commented on #4
I can reproduce this and will look into it soon. Thanks for the bug report!

[2017-07-13 15:24] jparise commented on #4
This appears to be [`:smartindent`](http://vimdoc.sourceforge.net/htmldoc/options.html#'smartindent')'s default behavior:

I'll have to consider whether this is something that should be changed / overridden by this plugin, perhaps by implementing our own indent rules, although I'm also reluctant to make things _too_ complex for this case.

[2017-07-21 01:41] sj26 opened #5 "Inline fragment indentation"
Thanks for the plugin!

I noticed that inline fragments indent like this when anything but the first field:

[code]

Also `on` in `...on SomeType` doesn't highlight as a keyword.

[2017-07-21 01:49] sj26 opened #6 "Highlight within javascript tagged template strings"
I've been using something like this in `after/syntax/javascript/graphql.vim` attempting to highlight graphql as tagged template literals within javascript files using @pangloss' [vim-javascript](https://github.com/pangloss/vim-javascript):

[code]

It works for `Relay.QL` or `graphql` tagged template strings:

[code]

This sort-of works. It doesn't recognise javascript template expressions correct

[2017-07-21 01:56] jparise commented on #6
This is similar to #1, yes?

[2017-07-21 02:16] sj26 commented on #6
Yes, sorry, I didn't see the PR.

[2017-07-21 02:16] #6 closed, assigned to nobody

[2017-07-23 18:01] jparise commented on #5
1d21bed should fix the syntax highlighting problem.

I'll move on to the indent issue once I get another block of time because I suspect it will require a more involved solution.

[2017-07-23 19:54] jparise commented on #5
I believe your indenting issue is caused by having `cindent` enabled. If you disable it, I think you'll find that indentation works as you'd expect.

Given that, I'm inclined to have this plugin set `nocindent` on GraphQL buffers. `smartindex` / `autoindent` should be sufficient for the grammar, but if we find additional cases where they aren't, we can go as far as defining a GraphQL-specific `ind

[2017-07-23 19:57] #5 closed, assigned to nobody

[2017-07-30 03:10] jparise commented on #4
I'm still thinking about whether the plugin should set `inoremap # X<c-h>#<space>` itself for GraphQL buffers (perhaps with a global option to disable the mapping). That would appear to be the expected behavior in all cases, but I also have some misgivings about overriding vim behavior in a filetype-specific plugin.

[2017-07-30 18:09] #4 closed, assigned to jparise

[2017-07-30 18:11] jparise commented on #4
I decided to just implement my own indentation rules that supersede `smartindent`. It's a pretty simple implementation, and it specifically addresses the comment behavior described by this issue, but please let me know if there are cases I'm not covering correctly.

[2017-07-30 18:44] glacials commented on #4
Thank you @jparise, will do!

[2017-08-26 15:21] flsilva opened #7 "Support for custom extensions"
Hi! Thanks for your plugin!

Is it possible to add support for other extensions? I'm working with graph.cool BaaS and they create a file named `project.graphcool` for custom user types (`schema.graphql` is used for built-in types). I've tried using their `--output` flag when creating new projects like `graphcool init --output 'my-schema.graphql'` but it didn't work, i.e., resulted in `project.grap

[2017-08-26 15:37] jparise commented on #7
You can add custom file type detection pretty easily. Create a new file named `~/.vim/ftdetect/graphcool.vim` containing:

[code]

I'm not sure it makes sense to add built-in support for `project.graphcool` to the stock plugin at this point, but the above should get you going.

[2017-08-26 15:37] #7 closed, assigned to nobody

[2017-10-06 07:09] mxstbr opened #11 "Support /* GraphQL */"
The `language-babel` Atom plugin supports highlighting strings marked with `/* GraphQL */` as GraphQL. We use that pretty heavily, for example:

[code]

[2017-10-09 15:34] jparise commented on #11
I thought about this a bit over the weekend, and I don't think this should be implemented at the vim-graphql level. Two reasons:

1. Unlike #8, there isn't a clearly-defined place to "attach" this functionality. To support it here, we'd need to encode quite a few JavaScript-specific syntax details just to get to the point where we can reliably identify the text region that should be highlighted as

[2017-10-09 15:34] #11 closed, assigned to nobody

[2017-10-09 15:35] mxstbr commented on #11
That's fair, thanks for the thoughtful response—appreciated! :blush:

[2017-10-31 21:09] lunks opened #12 "[Feature Request] Support for vim-ruby"
Hi, I'd like to be able to see syntax-highlighting support for ruby strings:

[code]

This looks a bit harder as there is no convention to tag them (as opposed to javascript where usually you have `gql`/`graphql`).

[2017-11-01 03:55] jc00ke commented on #12
You could key off a `HEREDOC` like `GRAPHQL` or `GQL`

[code]

[2017-11-03 21:59] jparise commented on #12
This is similar to the proposal raised in #11, and I think I'd apply the same reasoning here.

I'm open to considering a patch for this, but I'll be weighing its inclusion based on code complexity and fragility. (Sorry to be vague in this regard; I don't know the Ruby grammar well enough to know how tricky this might be to be done well. Please educate me if this is straightforward!)

[2017-11-12 17:19] shinzui commented on #2
It would be great for to have deoplete completion for graphql schemas.

[2017-12-04 16:04] jparise opened #14 "Block Strings"
Per facebook/graphql#327, a block string starts and ends with a triple-quote:

[code]

Reference implementation: graphql/graphql-js#926

[2018-01-03 18:18] #14 closed, assigned to nobody

[2018-01-04 00:28] jparise commented on #12
Closing this for now, but I'm still open to considering a patch if someone is interested in trying out some approaches.

[2018-01-04 00:28] #12 closed, assigned to nobody

[2018-02-27 12:03] dominikduda opened #16 "The plugin does not work"
So I installed the plugin via plug.

Entering `.graphql` file and it looks as follows (no syntax highlight):

![image](https://user-images.githubusercontent.com/14922999/36727704-8eb44360-1bbe-11e8-89c0-f542bb34361e.png)

Did I forget something?

[2018-02-28 02:29] jparise commented on #16
What is the output of the `set filetype?` command? And which version of vim are you running?

[2018-03-05 13:57] dominikduda commented on #16
Result of `vim -v`:

[code]

[2018-03-05 16:45] jparise commented on #16
I can't reproduce your problem using `VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Mar  2 2018 02:50:34)` or `NVIM v0.2.2`. I'm afraid you'll need to investigate further or provide more detail.

[2018-03-21 20:35] johnelliott commented on #16
I think it would be great to put in the README something saying what the file extension should be and under what circumstances the user should expect highlighting or other behavior. I've had this installed for months and it's never once worked because I expected it to work like JSX and somehow find the graphql syntax amongst my JS. Then I forgot about the plugin.

Evidently from this screenshot th

[2018-03-22 03:47] jparise commented on #16
That's good feedback, @johnelliott. I added some more `README.md` documentation in c917029 and f655336 that hopefully makes the plugin's file detection and JavaScript syntax support more clear.

In terms of this issue, I see from the screenshot that @dominikduda has loaded a file with a `.graphql` extension, so it should have automatically selected the `graphql` filetype. That's also why I origina

[2018-03-24 15:56] johnelliott commented on #16
@jparise looks great now. There’s no missing it.

I’ll try this out this week. I’m not totally sure if my team will end up using files with a bare query in them. At the moment we tend to use them as JavaScript template literals with substitution so they don’t end up being a .gql file. It’s usually wrapped with JavaScript.

[2018-03-24 16:41] jparise commented on #16
@johnelliott, that workflow is also supported if you use e.g. [an ES6 `gql` tag](https://github.com/apollographql/graphql-tag).

Unfortunately, you'll need to also install the [vim-javascript](https://github.com/pangloss/vim-javascript) plugin because vim's built-in JavaScript syntax doesn't specifically recognized tagged template literals.

[2018-03-31 03:08] jparise commented on #16
Closing this due to lack of information. Please open when you have more details.

[2018-03-31 03:08] #16 closed, assigned to nobody

[2018-05-25 11:27] shiro-42 opened #18 "Arguments starting with a capital letter have the wrong color"
Default params of type String make the next params have a wrong color.

[code]

### Vim Version

[code]

[2018-05-25 14:16] jparise commented on #18
I see that this is highlighted incorrectly here in the GitHub markdown renderer, but I'm not seeing the problem in vim 8.1 (or neovim 0.2.2) when I try it locally. Both `foo` and `bar` are detected as `graphqlFold -> graphqlName` and highlighted accordingly:

<img width="264" alt="screen shot 2018-05-25 at 7 11 53 am" src="https://user-images.githubusercontent.com/10311/40548926-f2709104-5fea-11e8

[2018-05-25 14:50] shiro-42 commented on #18
I don't know how to get the syntax group but the problem is when the key starts with an uppercase

[2018-05-25 19:05] jparise commented on #18
Could you include a screenshot of what you're seeing? All of the "keys" in your example are in lowercase, so that's the part that I'm misunderstanding.

It's true that a word starting with an uppercase letter (e.g. `String`) will be identified as a type name and not an argument name, which is how I've implemented the GraphQL style convention rules.

You can follow the suggestions here to identify

[2018-05-26 15:08] shiro-42 commented on #18
I am seeing this :
<img width="179" alt="screen shot 2018-05-26 at 17 02 59" src="https://user-images.githubusercontent.com/8340484/40577490-d4c1548c-6106-11e8-978f-17cc6d337884.png">

using the helper of the first answer here https://stackoverflow.com/questions/9464844/how-to-get-group-name-of-highlighting-under-cursor-in-vim

I get `['graphqlFold', 'graphqlConstant']`

[2018-05-28 04:07] jparise commented on #18
That is actually the intended (although not ideal) behavior. The syntax grammar isn't advanced enough to determine where constants, etc. are allowed so it assumes anything in ALL_CAPS is a constant and highlights it accordingly.

The GraphQL convention is to use camelCase to name parameters. Is there a reason why that convention isn't something you're able to follow?

[2018-05-29 09:01] shiro-42 commented on #18
my usecase is I'm directly mapping the arguments to a node modules so I can't choose to have camelCase for some arguments, but since it's not in the Graphql convention I don't know if it's still an issue.

[2018-05-30 04:02] jparise commented on #18
Got it. Let's leave this issue open in case we come up with a nice way to implement a more strict grammar, but I'm afraid it's not a high priority.

[2018-06-07 23:52] jesstelford opened #19 "Referencing a variable in template literal breaks syntax highlighting for rest of file"
For example, with this code:

[code]

I get:

<img width="565" alt="screen shot 2018-06-08 at 9 46 47 am" src="https://user-images.githubusercontent.com/612020/41131857-f161b402-6b00-11e8-9122-0fa6a8749205.png">

However, removing the `${name}` variable, I get the correct behaviour:

<img width="551" alt="screen shot 2018-06-08 at 9 47 02 am" src="https://user-images.githubusercontent.com/612020/4

[2018-06-07 23:54] jesstelford commented on #19
It looks like it's treating the `${...}` as a query block, then encountering the next `{` and blowing up, because it's expecting a name to be there.

For example, this highlights correctly (but is invalid syntax):

[code]

[2018-06-07 23:57] jesstelford commented on #19
Note also: this used to work. I pulled the latest changes today, and that's when I noticed things not working. Unfortunately, I don't know what commit I was on previously.

[2018-06-13 16:56] #19 closed, assigned to jparise

[2018-06-13 16:59] jparise commented on #19
I'm pretty sure this is now fixed, but I also noticed that the embedded expression (e.g. `${...}`) isn't highlighted as JavaScript syntax. Instead, it renders as a `graphqlName`. That's not wrong, but it would be nice if the syntaxes "nested" correctly here, which is the intention.

I spent a little time looking into that but couldn't find a solution. I'll try to revisit it soon.

[2018-06-16 17:53] mekhami commented on #2
Is this on the roadmap? It'd be a huge deal for my team's workflow, for sure.

[2018-06-19 22:38] jparise commented on #2
This is the next "big" feature I'd like to explore, but there is no timeline.

[2018-06-26 04:30] jparise commented on #19
I just pushed a35e0da, which I believe addresses that one outstanding issue: expression interpolation within template strings is now correctly highlighted as JavaScript (or TypeScript) syntax.

[2018-11-09 22:06] ghost opened #20 "ES2015 string literals not working with yajs"
With https://github.com/othree/yajs.vim the string literal highlighting doesn't seem to work. Removing yajs does work. Not sure if this is an issue with yajs or vim-graphql.

![screen shot 2018-11-10 at 9 02 42 am](https://user-images.githubusercontent.com/141213/48290701-e405a480-e4c7-11e8-9b37-b741a0db6508.png)

[code]

[2018-11-11 21:01] jparise commented on #20
I've only built and tested support for [vim-javascript](https://github.com/pangloss/vim-javascript) so far. It looks like [yajs.vim](https://github.com/othree/yajs.vim) has some template tag support, but I'll need to spend some time with it in order to see if we can make it work.

I'd be happy to review a Pull Request that adds support for it. Otherwise, I'm afraid you'll need to wait until I get

[2018-11-23 21:37] jparise commented on #20
Something along these lines in `after/syntax/javascript/graphql.vim` appears to work:

[code]

I'm not entirely sure how best to support this directly in vim-graphql. I think I'd need to do something where I attempt to detect which of the various JavaScript plugins were installed and customize this code accordingly.

[2019-02-11 19:03] redreceipt opened #24 "Return not indenting properly"
Indentation doesn't seem to be working properly.

When pushing `Enter` to go to the next line to add fields in a `type`, it indents one tab forward.

![kapture 2019-02-11 at 13 59 42](https://user-images.githubusercontent.com/2659478/52586531-bf420580-2e05-11e9-974f-152d98753511.gif)

### Vim Version

[code]

[2019-02-11 19:09] redreceipt commented on #24
After investigating, it only happens after a `!`

[2019-02-11 19:39] redreceipt commented on #24
Also after comments

![kapture 2019-02-11 at 14 39 20](https://user-images.githubusercontent.com/2659478/52588604-db947100-2e0a-11e9-84f4-1dc9786f32ba.gif)

[2019-02-11 23:52] jparise commented on #24
@redreceipt I'm having trouble reproducing this. Which of these indentation-related settings do you have enabled?

[code]

[2019-02-12 00:33] redreceipt commented on #24
Here's my vim settings

https://gist.github.com/redreceipt/65d2dd8b505b5441a6d81b5392f7e933

[2019-02-12 00:55] jparise commented on #24
This seems to only happen when using a GraphQL template string within a JavaScript buffer. If I'm working in a standalone `.graphql` file, the indentation rules work as expected.

I'm not sure how to approach this yet because the way we "embed" the GraphQL syntax rules within the JavaScript file type is a little tricky:

https://github.com/jparise/vim-graphql/blob/142f34682e7536d0e0a9d9ebb312fe686

[2019-02-14 01:25] jparise commented on #24
It looks like the most promising approach involves overriding the JavaScript file type's `indentexpr` with one that applies the GraphQL-specific indentation rules within the tagged template region and defers to the JavaScript rules otherwise.

[2019-05-01 21:01] sodapopcan commented on #12
The RubyMine plugin uses the `<<-GRAPHQL` heredoc for this.  I wouldn't mind taking a stab at this (as I very much want it).

[2019-05-01 22:13] jparise commented on #12
@sodapopcan That sounds good! Please read my comment in #11 before you get too far, though. I’d like to offer this functionality, but only if the implementation is straightforward, testable, and can’t be accomplished using an existing construct.

[2019-05-09 13:02] ghost opened #26 "syntax not applied to `.vue` files"
### Vim Version

[code]

the syntax is getting applied in template strings just fine on `.js` files, but on `.vue` files that contain javascript inside them it doesn't work. any idea/workaround?

[2019-05-09 13:49] jparise commented on #26
Extra support is needed to embed GraphQL syntax in other file types. See #6 for the initial work on JavaScript support, for example.

It sounds like something similar is needed for Vue fields. What (vim) filetype do they use? Are you using a vim extension for Vue support?

[2019-05-30 14:35] vadimshvetsov opened #27 "Schema definition support?"
Is this plugin supposed to work with schema definitions?

Let's say I have file `schema.graphql` and sketching there my schema.
[code]

At now I have this error:
[code]

[2019-06-06 17:38] jparise commented on #27
Yes, that should work just fine (and I just verified it locally). I'm not sure where that `Parsing error` is coming from, though. It doesn't look like a vim(script) error. Perhaps another plugin is interfering?

[2019-06-06 18:54] vadimshvetsov commented on #27
Thanks for response - looks like issue on my side, I'll debug it, thank you a lot

[2019-06-06 18:54] #27 closed, assigned to nobody

[2019-06-06 19:43] xxvunborn opened #28 "I can't install the plugin"
### Vim Version
[code]

# Error when try to install the plugin with Vundle
[code]

[2019-06-06 19:52] xxvunborn commented on #28
Worked after run ` make test` in the folder.

[2019-06-06 19:52] #28 closed, assigned to nobody

[2019-08-08 19:10] serixscorpio opened #30 "Document how to configure for custom extensions?"
Hi, thank you for making this plugin.  I appreciate it!

I use `prisma` which uses a [custom file extension](https://github.com/prisma/prisma#3-define-your-datamodel) for its data model definition (ex. `datamodel.prisma`).  The `*.prisma` also uses GraphQL SDL.  Based on [your recommendation](https://github.com/jparise/vim-graphql/issues/7) on another similar issue, I was able to get the syntax hi

[2019-08-09 15:40] jparise commented on #30
Yes, I think it would be helpful to mention this in the `README.md`. Thanks!

[2019-08-12 19:07] #30 closed, assigned to nobody

[2019-11-20 09:30] dwalsh01 opened #32 "Highlighting not working in .tsx files"
Hello,

As my title states the syntax highlighting does not correctly work in `.tsx` files, it does however work correctly in `.ts`/`.js` files.

Any idea on what I must do to get the syntax highlighting to work in .tsx files?

Thank you for your time.

Below is my list of plugins installed, should you require them:
[code]

### Vim Version

[code]

[2019-11-20 17:34] jparise commented on #32
It looks like the https://github.com/peitalin/vim-jsx-typescript plugin sets a `typescript.tsx` filetype:

https://github.com/peitalin/vim-jsx-typescript/blob/f84b2c9796016206051e14b9d5c7a0ab7e2bde2c/ftdetect/typescript.vim#L7

... so we'll ultimately need to provide support for the `tsx` syntax:

https://github.com/peitalin/vim-jsx-typescript/blob/master/after/syntax/tsx.vim

That shouldn't be to

[2019-11-20 17:40] dwalsh01 commented on #32
Ok, and is there any documentation I can reference to do that? I do not have vim programming experience but it is a case of altering already existing code to handle this case I could look into it.

[2019-11-20 18:00] jparise commented on #32
No, there isn't documentation for how to extend the syntax files. The approach varies based on the plugins we integrate with.

You can see the current examples here: https://github.com/jparise/vim-graphql/tree/master/after/syntax

[2019-11-20 18:18] dwalsh01 commented on #32
I seem to have (possibly) gotten it to work. Here is a link for you to review before I make any request:

https://github.com/dwalsh01/vim-graphql

No error messages, syntax works in `.tsx`/`.jsx` and I also tested it with the various file extensions and highlighting works as intended.

[2019-11-20 18:25] jparise commented on #32
@dwalsh01 that looks like a good start! We only need the GraphQL-specific portions in our repo, though.

[2019-11-20 18:37] dwalsh01 commented on #32
@jparise updates have been made please review and I will make a request should there be no further changes required.

[2019-12-06 16:24] mgeraci opened #35 "Errors when opening a file with a `gql` tag; no syntax highlighting"
Hi there! I recently updated a `vim-graphql`, and started getting errors when opening files with `gql` tags, and no syntax highlighting is shown. The errors are:

[code]

I tried checking out a few different commits of the plugin, and found that the breaking change was in https://github.com/jparise/vim-graphql/commit/1ad3aa6f9fad65c646fdabe057ea883c34a73a3d (the last working version is `792c7bcb13

[2019-12-08 17:51] jparise commented on #35
@mgeraci what does `:echo graphql#javascript_tags()` (on your vim command line) output?

[2019-12-10 17:50] mgeraci commented on #35
From the [working commit](https://github.com/jparise/vim-graphql/commit/792c7bcb138c1e787a7527f16ce63e8cf53df6ba):
[code]

And from the [broken commit](https://github.com/jparise/vim-graphql/commit/1ad3aa6f9fad65c646fdabe057ea883c34a73a3d):
[code]

So it seems like regardless of the `vim-graphql` version, I'm missing that function.

[2019-12-11 16:18] #32 closed, assigned to nobody

[2019-12-11 17:43] jparise commented on #35
1ad3aa6f9fad65c646fdabe057ea883c34a73a3d introduced the `autoload/graphql.vim` file, which is where that function is defined. If that file hasn't made it into your `runtimepath`, that would explain the problem you're seeing.

Do you have that file in your `.vim/bundle/` path (as `/home/u0/mgeraci/.vim/bundle/vim-graphql/autoload/graphql.vim`)? Are you using a plugin manager or some other tool to u

[2019-12-11 19:02] mgeraci commented on #35
When I check out `1ad3aa6f9fad65c646fdabe057ea883c34a73a3d`, I do see that file created in my vim bundle folder. So that would definitely imply that there is something wrong in my tooling!

I'm using pathogen to load vim plugins, and [homeshick](https://github.com/andsens/homeshick) to sync and symlink dotfiles (including vim plugins as submodules in my dotfile repo).

And thinking about that actu

[2019-12-11 19:02] #35 closed, assigned to jparise

[2019-12-11 20:09] jparise commented on #35
Glad you got it working!

[2019-12-13 12:55] ghost opened #36 "June 2018 edition of the GraphQL specification update"
Hi,
any plans to update the plugin to https://github.com/graphql/graphql-spec/releases/tag/June2018

it's described as `the first edition to no longer be considered a "Draft RFC" to reflect its extensive use in production`

[2019-12-13 19:57] jparise commented on #36
Thanks for the reminder!

I'll read through it in detail soon, but if there are any specific changes that you think I should make (aside from updating the documentation and examples), please point them out so I don't miss them.

[2019-12-14 04:41] #36 closed, assigned to jparise

[2019-12-16 01:06] jparise commented on #18
I think the correct way to address this is to ultimately remove the "global" `graphqlConstant` syntax definition in favor of more specific definitions for enumeration values.

I already handled directive location names in #40.

[2019-12-16 22:44] jparise commented on #2
The [GraphQL Language Service](https://github.com/graphql/graphiql/tree/master/packages/graphql-language-service) running as a LSP server (with vim as an LSP client) feels like the modern solution to this use case.

[2019-12-17 15:47] ZzCalvinzZ opened #45 "Unkown function has_syntax_group"
Super weird because `has_syntax_group` exists in `autoload/graphql.vim`

[code]

### Vim Version

[code]

[2019-12-17 16:29] jparise commented on #45
Could you try running through the same debugging steps we used in #35?

[2019-12-17 17:00] ZzCalvinzZ commented on #45
K I figured it out. I also have the vim-polyglot plugin which loads this autoload file instead of the vim-graphql one:
https://github.com/sheerun/vim-polyglot/blob/master/autoload/graphql.vim

which is why I didn't get an error on the `graphql#javascript_tags` function.

I didn't realize they added to vim-polyglot.
All good here! And thanks for your work on this syntax support!

[2019-12-17 17:00] #45 closed, assigned to nobody

[2019-12-17 18:14] jparise commented on #45
Great! I didn’t realize that project ships copies of other projects’ code. I don’t love that (for cases like this issue), but I’m glad you got this sorted out.

[2019-12-18 18:55] #26 closed, assigned to nobody

[2019-12-18 19:02] jparise commented on #20
Now that we have good JavaScript support "out of the box" with Vim 8.2, and we have very good support with the [vim-javascript](https://github.com/pangloss/vim-javascript) plugin, I don't think we _need_ to support any additional JavaScript plugins (such as yajs).

It wouldn't be too hard to add (given my example above), but it does complicate the testing matrix going forward, so the bar for inclu

[2019-12-18 19:02] #20 closed, assigned to nobody

[2019-12-19 02:50] RussBrown00 opened #49 "Can't save javascript file after recent changes"
Saving any javascript file is broken by changes to after/syntax/javascript/graphql.vim. I've confirmed by rolling the file back to 1ad3aa6

[code]

### Vim Version

[code]

[2019-12-19 03:24] jparise commented on #49
Are you perhaps running into the same issue as #45?

[2019-12-19 04:26] RussBrown00 commented on #45
I do have vim-polyglot installed, however adding graphql to the ignore list did not seem to fix anything.

[code]

[2019-12-19 06:03] jparise commented on #45
I don’t use `vim-polyglot`, but if you (temporarily) uninstall it, does the original problem go away?

[2019-12-22 03:20] #18 closed, assigned to jparise

[2019-12-22 03:31] jparise commented on #49
@RussBrown00 have you been able to determine if vim-polyglot is the cause of this?

[2020-03-12 01:31] jparise commented on #49
Closing due to inactivity. Please reopen if this continues to occur or there are more details to share.

[2020-03-12 01:31] #49 closed, assigned to nobody

[2020-04-09 00:47] himat opened #52 "How to debug when highlighting not working"
I installed the plugin, but no syntax highlighting occurs in gql or graphql files.
How do I debug this?

### Vim Version

[code]

[2020-04-10 02:51] jparise commented on #52
1. What is the filename of the file you're loading?
2. What does `:set filetype?` output when that file is loaded?

[2020-04-11 20:15] himat commented on #52
1. `table_query.gql` - I also tried it with .graphql and that also didn't work
2. filetype=conf

[2020-04-11 22:17] jparise commented on #52
It's the `filetype=conf` that's the problem. (It should be `graphql`.) Something is associating `.gql`-named files with the `conf` filetype. We can find out what that is with `:verbose set filetype?`.

[2020-04-12 04:49] himat commented on #52
Hm, seems to be vim itself? Here's the output
[code]

[2020-04-12 18:27] jparise commented on #52
That's from the generic fallback when Vim otherwise doesn't recognize the file:

https://github.com/vim/vim/blob/e6085c53506e38d07334faa1002ee90b1933b128/runtime/filetype.vim#L2206-L2212

These are the particular lines that are responsible for associating file extensions with the `graphql` filetype: https://github.com/jparise/vim-graphql/blob/a3ff39f955e60baeddd8c3c4d1cab291ce37d66e/ftdetect/graph

[2020-04-12 20:51] himat commented on #52
`:set rtp`
[code]
`~/.vim/bundle/vim-graphql` is found in `:set rtp`

I installed your plugin using Vundle, which wasn't documented in your readme.

I just installed it by adding
`Plugin 'jparise/vim-graphql'` to my vimrc in my vundle block
[code]

[2020-04-12 20:52] himat commented on #52
I created the `~/.vim/filetype.vim` file and added this to it which makes it associate the correct file type, but would be better if I didn't have to add this of course.

[code]

[2020-04-13 16:08] jparise commented on #52
It's been a while since I used Vundle, but just to be sure, can you verify that you're disabling and re-enabling `filetype` on each end of your plugins section?

[code]

[2020-04-14 13:57] himat commented on #52
That fixed it! Thank you for figuring it out! Didn't realize I needed to turn filetype off before the vundle block. Thank you for your great helpfulness and patience! Really appreciate it

[2020-04-14 13:57] #52 closed, assigned to nobody

[2020-05-13 05:15] collegeimprovements commented on #2
[Reddit Discussion]( https://www.reddit.com/r/vim/comments/gi51hj/vim_graphql_client/ )

[2020-05-29 07:53] AdrienLemaire opened #53 "linting support"
This is probably a question and not a feature request.
I've just had a hard time debugging an issue that was due to a missing bracket on a directive in my .graphql file, and I wish a mark would have been auto-added by a linter to highlight the problem.
How do you configure vim-graphql to show syntax errors? Or does it need to be used with another plugin?

[2020-05-29 21:15] jparise commented on #53
vim-graphql doesn't include a built-in linter so you'll need to use an external tool for that.

For example, it looks like [ALE](https://github.com/dense-analysis/ale) includes support for [gqlint](https://github.com/happylinks/gqlint), but I haven't tried it myself.

[2020-06-01 06:19] AdrienLemaire commented on #53
Thanks! ALE doesn't seem to discover gqlint if we don't set the relative `./node_modules/.bin/` path to `$PATH` or installing gqlint system-wide. I'm also trying to avoid using ALE, having some conflicts with coc.nvim.
For the time being, I'll just run gqlint with `npm run lint` executed by `npm start`, this'll be good enough.
Thanks again for the hint :)

[2020-06-03 00:39] #53 closed, assigned to nobody

[2020-07-26 18:06] felippepuhle commented on #2
I've created  [coc-graphql](https://github.com/felippepuhle/coc-graphql) if you guys want to take a look... I'm a newbie on vim/coc stuff but it's working for now!

[2020-07-29 16:05] rsslldnphy opened #54 "Queries in template literals have leading spaces stripped away on indent"
Hi, I'm not sure if this is meant to happen but I'm finding that graphql in template literals is having any leading spaces stripped away on indent. I usually indent my graphql template literals by 2 spaces, but with this text:

[code]

the command `gg=G` results  in this:

[code]

the query has now been shifted to the left so it's flush with the start of the line.

i've removed everything from my

[2020-07-29 18:41] jparise commented on #54
@rsslldnphy it sounds like you're running into the same problem that's described in #24?

[2020-07-30 16:54] rsslldnphy commented on #54
hm running into the specific behaviour mentioned in #24 but yes definitely the same in that i'm having indentation issues within template literals. hopefully a fix for one will be a fix for both!

[2020-08-14 09:41] acao commented on #2
we've had some new releases as well! more to come. check out the latest 2.5.0-alphas for graphql-config@3 support, dropping the `fb-watchman` dependency, more language features!

for 2.5.0-alpha, just in terms of completion, we fix variable definition completion for 2.4.x where it was broken in an 2.4.0-alpha typescript conversion, and it adds named variable completion, as well

in that release, w

[2020-08-26 20:33] KingOfCramers commented on #24
How might we configure this to format the GQL inside of the `gql` tags? I'm mostly using graphql syntax inside my Javascript files and I'm not sure how to configure the plugin to auto-format the syntax. Thanks for this plugin!

[2020-08-31 15:34] #24 closed, assigned to jparise

[2020-08-31 15:35] jparise commented on #54
Fixed by #58

[2020-08-31 19:30] rsslldnphy commented on #54
🎉  thanks @jparise !

[2020-08-31 21:48] rsslldnphy commented on #54
actually this is still happening for me in typescript files :-(

looking at the updated tests in the PR, it looks like the javascript test asserts on the indentation behaviour i would expect:

https://github.com/jparise/vim-graphql/blob/e64fba4ee17fa8dd391405982500c72d68fc50b9/test/javascript/default.vader#L35-L43

but the typescript test asserts on different behaviour (i.e. the leading spaces bei

[2020-09-02 19:56] jparise commented on #54
@rsslldnphy I don't write much TypeScript. Could you provide an example of how you _think_ the formatting should look?

[2020-09-03 10:31] rsslldnphy commented on #54
Hi @jparise , yes no problem - in this case I think it should look exactly identical to the javascript version:

[code]

[2020-09-07 21:08] phatsk opened #61 "Feature: Add Support for PHP HEREDOC Strings"
PHP has support for [HEREDOC](https://www.php.net/manual/en/language.types.string.php#language.types.string.syntax.heredoc) strings. This allows large string blocks to be set between delimiters and vim supports syntax highlighting within these blocks.

In PHP in vim, using a HEREDO specifier such as `SQL` will cause vim to highlight the given block:
[code]

This proposal is to have the same kind o

[2020-09-10 10:10] sheerun opened #62 "Breaks indentation if used with vim-jsx-pretty"
This plugin breaks (disables) indentation for jsx code if vim-jsx-pretty is used. To reproduce please use following `~/.vimrc.test`:

[code]

And then open .js file with jsx with `vim -N -u ~/.vimrc.test component.js`

[2020-09-10 10:14] sheerun commented on #62
Please see how vim-styled-components solved this: https://github.com/styled-components/vim-styled-components/blob/main/after/indent/javascript.vim#L138-L166

[2020-09-11 02:26] jparise commented on #62
Thanks for the pointer! It looks like supporting the full "stack" of JS-adjacent plugins will be pretty involved so it will take me some time to put together a good test suite. Please add any important examples and test cases to this issue so I can include them.

I'll try to pick this up over the weekend.

[2020-09-11 06:15] sheerun commented on #62
` let l:result = cindent(v:lnum)` + recursion safeguard should be enough, no need to support stack of them

[2020-09-14 00:07] jparise commented on #54
Reopening this issue until we can sort out the remaining indentation problems with GraphQL syntax embedded within templates.

[2020-10-04 17:08] #54 closed, assigned to nobody

[2020-10-04 18:26] #62 closed, assigned to nobody

[2020-11-10 14:42] sQVe opened #67 "Indention broken when used with Treesitter"
Hey :wave:,

I just started using https://github.com/nvim-treesitter/nvim-treesitter, a increasingly popular treesitter based highlighting plugin, and noted that the indention was broken on `javascript` files. I tracked this down to `vim-polyglot` and further down to `vim-graphql`.

If you run `nvim-treesitter` as your highlighter, with the following config:
[code]
and also have `vim-graphql` inst

[2020-11-10 14:47] jparise commented on #67
That isn't a configuration I currently use, so it may take me a while to investigate the root cause of the issue.

If you're able to dig in and narrow down how that runtime environment differs from vim/non-treesitter, it will help me address this sooner.

[2020-11-10 15:02] sQVe commented on #67
Could you elaborate a bit here? I'm a bit unsure on what you would find helpful.

[2020-11-10 15:44] jparise commented on #67
Well, same. 😉 I don't use neovim or tree-sitter, so I'm not sure how they handle indentation, etc. differently from a standard vim runtime.

It'll take me some time to learn about that. If you could get a sense _why_ this plugin is breaking in that environment, it would speed up the fix.

In the meantime, I believe there's a way to disable just the vim-graphql plugin inside of vim-polyglot. It wou

[2020-11-10 17:09] sQVe commented on #67
Alright, so, as far as I know `vim` and `neovim` does not differ much in how they handle indention. But I'm far from an expert so just my $0.002 USD.

The plugin `nvim-treesitter` is essentially a highlighter that uses `treesitter` instead of regex to highlight code. I have enabled it to also handle `indent` but it made no difference in turning it off.

Turning `graphql` off in `vim-polyglot` does

[2020-11-11 22:56] #61 closed, assigned to nobody

[2020-11-11 22:56] jparise commented on #61
@phatsk I just added PHP support. Let me know how it works or if you run into any issues with it.

Thanks for the suggestion!

[2020-11-12 00:41] jparise commented on #67
@sQVe I think #70 may fix the issue you're seeing. I don't think the problem was directly related to treesitter.

[2020-11-12 07:53] sQVe commented on #67
@jparise Yes, you are correct. I don't see any issues any longer! :+1: :tada:

[2020-11-12 07:53] #67 closed, assigned to nobody

[2020-11-12 07:55] sQVe commented on #67
What's the work-flow to get this pushed to `vim-polyglot`?

[2020-11-12 17:17] jparise commented on #67
I don't use `vim-polyglot` myself, but [from the project's readme](https://github.com/sheerun/vim-polyglot#updating):

@sheerun FYI this is an important fix to pick up.

[2020-11-12 20:11] sheerun commented on #67
I'll update soon, I'm on mobile internet...

On Thu, Nov 12, 2020 at 6:18 PM Jon Parise <notifications@github.com> wrote:

[2020-12-12 19:42] app opened #74 "Syntax support inside of ES2015 template literals"
Works but not always. Simple plug install with default settings.

![image](https://user-images.githubusercontent.com/9341/101993305-86f20380-3cca-11eb-817c-9efe86f0d956.png)

### Vim Version

[code]

[2020-12-12 23:56] jparise commented on #74
From your example, it looks like you're having trouble with the comment-based syntax (`schema1` above). Is that correct?

Support for that syntax was adding about a month ago in #69 (262dee0). Can you double-check that your copy of vim-graphql includes that commit?

Could you also let me know if you're using a JavaScript syntax plugin in addition to (neo)vim's built-in JavaScript language support?

[2020-12-13 10:09] app commented on #74
Thanks for quick replay!
Yes I use vim-javascript plugin this way
`Plug 'pangloss/vim-javascript', { 'for': ['javascript', 'javascript.jsx'] }`
And I run :PlugUpdate today
There is a git command runned inside ~/.config/nvim/plugged/vim-graphql
![image](https://user-images.githubusercontent.com/9341/102009625-bf84f200-3d49-11eb-9004-af1aca5f493f.png)

I see https://github.com/jparise/vim-graphql/bl

[2020-12-15 19:41] jparise commented on #74
I can reproduce this now. It only seems to misbehave when the `pangloss/vim-javascript` plugin is also present. I'll hopefully have a fix for this soon.

[2020-12-16 23:29] #74 closed, assigned to nobody

[2020-12-16 23:30] jparise commented on #74
@app This should be fixed now (by #75). Let me know if you're still seeing a problem after you update.

[2020-12-19 22:03] jparise commented on #2
@acao Would you be willing to contribute some documentation that explains how to set up GraphQL LSP support in vim (or point me at some existing documentation that I could link to)?

[2020-12-19 22:38] acao commented on #2
there is an neovim? coc plugin, and any other LSP interoperable vim plugins should work

https://github.com/felippepuhle/coc-graphql

does that work for you? or are you using a different vim client? i usually just run the vanilla vim when I use it, not super familiar with neovim or other variants or vim plugin ecosystems really

[2020-12-20 20:19] jparise commented on #2
@acao Thanks! c5169b2705f23cc4926606a7786d8e8fae138d5c adds a coc-graphql reference to `README.md`.

[2020-12-25 14:17] app commented on #74
Thanks, @jparise !
This fix works for me too.

[2021-02-02 18:35] amiralies opened #76 "Emebeded highlighting fallbacks to string randomly in reason files"
nvim 0.4.4
vim 8.2

After going to insert mode and back to normal mode it gets fixed. but when i move the cursor to query again it will broke.

https://user-images.githubusercontent.com/13261088/106646164-9e4ebe00-65a2-11eb-80f5-ce5e352f5547.mp4

[2021-02-02 19:34] kaiwetlesen opened #77 "Undefined variable: v:true at line 6 when JSX file"
The following error occurs whilst opening a JSX, JS, or JSON file as determined by file extension:
[code]

This error can be reproduced at runtime within Vim by running `:exec graphql#has_syntax_group('gql')`.

Output from `:echo graphql#javascript_tags()`:
[code]

My current vimrc contents: [vimrc.txt](https://github.com/jparise/vim-graphql/files/5914027/vimrc.txt)

### Vim Version

[code]

[2021-02-03 00:59] jparise commented on #77
This plugin requires vim version 8+ (and you have 7.4), but it looks like I never documented that fact. I'll fix that soon. Sorry about that!

[2021-02-03 23:04] jparise commented on #77
I added the version requirement to the `README.md` file in 553d125.

[2021-02-03 23:04] #77 closed, assigned to jparise

[2021-02-13 08:01] amiralies commented on #76
any idea why is this happening?

[2021-02-14 01:57] jparise commented on #76
I'm afraid I haven't been able to reproduce this. I'm using https://github.com/jordwalke/vim-reasonml.

Are you using many other plugins? Is it possible one of them is interfering in some way?

[2021-02-14 09:39] amiralies commented on #76
I'm using https://github.com/amiralies/vim-reason, but tried both jordwalke/vim-reasonml and reasonml-editor/vim-reason-plus and problem still occurs.

[2021-02-25 23:27] Lilja commented on #27
1.5 years later, I got the same error and I noticed I still had ALE enabled(switched to coc.nvim), that might be the issue for future readers.

[2021-03-18 19:37] jparise commented on #76
@amiralies Sorry for the delay!

I'm (finally) able to reproduce this. Now that I can, I'll see what I can do to get it fixed.

[2021-03-18 20:53] #76 closed, assigned to nobody

[2021-03-18 20:54] jparise commented on #76
@amiralies #78 should hopefully fix things up for you.

[2021-03-18 20:58] jparise commented on #2
I'm going to close this issue now that there's at least one way (https://github.com/felippepuhle/coc-graphql) to enable schema-based completion.

[2021-03-18 20:58] #2 closed, assigned to nobody

[2021-03-18 21:24] felippepuhle commented on #2
CoC provides a way to configure any language server directly on its configurations, so I decided to deprecate this package. For further instructions, please read https://github.com/neoclide/coc.nvim/wiki/Language-servers#graphql as it's a better way (you can update the LSP any time and get a better experience).

[2021-03-18 21:49] jparise commented on #2
Thanks, @felippepuhle. I've revised the documentation in 735b93d.

[2021-03-18 22:21] amiralies commented on #76
Fixed. Thanks!

[2021-10-09 14:14] raine commented on #74
The `# gql` comment for triggering graphql syntax highlighting does not work for me.

NVIM v0.4.3
Latest vim-graphql from vim-plug

I have `pangloss/vim-javascript` and `HerringtonDarkholme/yats.vim` but tried disabling both and it had no effect.

https://user-images.githubusercontent.com/11027/136661630-53c0e55c-bbcd-4b0c-8b10-1367c186a622.mp4

[2021-10-09 19:26] app commented on #74
@raine, it still works for me. Yesterday I upgraded nvim to 0.5.1

:PlugUpdate ?

You may clone and try my nvim config here https://github.com/app/nvim

[2021-12-12 12:46] dtrckd opened #80 "Support for docstring"
Hello,

It seems that the syntax for documentation comments, like the following, are not supported ?

[code]
Having such support could enabled notably the folding of such "docstring," like we do in Python for exemple.
Is such support considered ?  Or Would eventual a PR be considered ?

[2021-12-12 12:56] dtrckd commented on #80
Ok I found that it's actually defined in the syntax file.

`syn region  graphqlString   start=+"""+ skip=+\\"""+ end=+"""+`

[2021-12-12 12:56] #80 closed, assigned to nobody

[2022-01-30 23:00] cpitt opened #82 "Include support for comment syntax in typescript"
Currently it appears that the comment based syntax highlighting only works with javascript files not typescript
[code]
It would be nice if this was supported in typescript aswell.

I've tried adding the following line to `after/syntax/typescript/graphql.vim`:
[code]
Copying `after/syntax/javascript/graphql.vim` to no avail.

Happy to make a PR but need a push in the right direction to figuring out

[2022-01-31 21:41] jparise commented on #82
That generally looks like the right approach, but I also see that it doesn't work as-is.

I'm afraid that I don't have any hints for getting this working at the moment; "overlaying" syntaxes has been the trickiest part of building this plugin.

[2022-01-31 23:52] cpitt commented on #82
🤔

so the following for typescript:

[code]

will correctly highlight
[code]

but not

[code]
Admittedly I'm just kind of hacking at it with only the most basic understanding of how vim syntax works

[2022-02-02 00:38] cpitt commented on #82
The following appears to work

[code]

Perhaps someone with more knowledge can validated the approach

[2022-02-07 22:20] jparise commented on #82
Closed by #83

[2022-02-07 22:20] #82 closed, assigned to nobody

[2022-02-24 01:02] zenazn opened #84 "Indentation issue when graphql schema is embedded in a gql string in typescript"
In a typescript file that looks like this:

[code]

If my cursor is after the `!` in `String!`, and I type `<CR>baz: Int!`, I get:

[code]

I think the correct way to indent this is:

[code]

The `!` is important. If I omit the `!` I get the expected result.

The fact that it's embedded in a typescript file is important. If I put the same contents in a `.graphql` file, I get the expected result.

[2022-02-24 01:28] zenazn commented on #84
A potentially related bug:

[code]

If I `/foo<CR>o# XXX` (i.e., open a new line after the `foo` definition and type `# XXX`), I get:

[code]

If I `/bar<CR>o# XXX` (i.e., open a new line after the `bar` definition and type `# XXX`), I get:
[code]

The parens with quotes (either single or double work) in the "oh no" comment are important (but the "oh no" is not important). When either is missing,

[2022-03-29 02:09] jparise commented on #84
@zenazn I've been looking at this as I've had free time, and I'm unfortunately not able to reproduce either of these issues. I'm using vim 8.2 (1-4600) and the vim's built-in support for TypeScript (i.e. no plugins). Some potentially relevant settings for this buffer:

[code]

Could you compare that to what you have and also let me know if you're using a TypeScript language plugin which might be i

[2022-04-26 01:21] #84 closed, assigned to nobody

[2022-04-26 01:21] jparise commented on #84
Please reopen this issue if new information becomes available.

[2022-07-13 21:21] eisukeesaki opened #87 "Automatic indentation inside JavaScript template literals not working as expected"
### issue
I was expecting the plugin to automatically insert indentations inside JavaScript template literals, but it does not. Is it likely that something is interfering with the functionality or does it not work well with Neovim?

I tried enabling and disabling `autoindent` and `smartindent` but it did not change the behavior.

https://user-images.githubusercontent.com/33922926/178836722-43e6e41

[2022-07-13 21:27] jparise commented on #87
It should work as you expect, so we'll need to debug the issue.

Are you using any plugins that extend vim's basic JavaScript behavior?

[2022-07-13 21:45] eisukeesaki commented on #87
Here is a list of plugins that I'm using.
[code]

[2022-07-13 21:48] eisukeesaki commented on #87
This is my init.vim
[code]

[2022-07-13 22:02] eisukeesaki commented on #87
Here is my lspconfig.rc.vim
[code]

[2022-07-13 22:08] eisukeesaki commented on #87
I've just recently started to learn how vim/nvim works, and most of the configs weren't written by hand by me, so I can't really tell which of the plugins or configs may be interfering with the plugin.
I hope the 3 files that I've just posted tells something. If you need more information, I will provide them.

[2022-07-14 14:52] jparise commented on #87
I just verified that this is working (for me and in the unit tests) in both vim 9.0 and neovim 0.7.2, so it feels like something in your configuration is causing the issue.

Inside of your JavaScript buffer, could you tell me the values of these two options: `indentexpr` and `indentkeys`?

For me (both vim and neovim are similar):

[code]
[code]

[2022-07-14 22:35] eisukeesaki commented on #87
Thank you for running the tests.
In my Neovim environment, I get these values.

[code]
[code]

[2022-07-14 22:46] eisukeesaki commented on #87
This is my `~/.config/nvim/after/plugin/treesitter.rc.vim`

[code]

[2022-07-14 22:59] jparise commented on #87
This is the root issue:

It's preventing the vim-graphql plugin from injecting its own indentation function, which happens here:

https://github.com/jparise/vim-graphql/blob/4bf5d33bda83117537aa3c117dee5b9b14fc9333/after/indent/javascript.vim#L32-L33

I don't have a solution for that at the moment. (I don't currently use neovim or the tree-sitter plugin myself.)

If looks like https://github.com/b

[2022-07-16 07:50] eisukeesaki commented on #87
I disabled the `nvim-treesitter`'s indentation function by configuring my `treesitter.rc.vim` as follows.

[code]

Then made sure that `vim-graphql`'s indentation function is loaded inside a JavaScript buffer.
[code]

And now, the plugin behaves like the following.

https://user-images.githubusercontent.com/33922926/179345662-bbcddf0d-e35f-4811-a639-5763cdc5bda1.mov

I was not expecting the follow

[2022-07-16 07:54] eisukeesaki commented on #87
The behavior is the same for un-tagged template literals.

[2022-07-18 12:48] jparise commented on #87
This is the current expected behavior. It's due to the fact that we're embedding the GraphQL syntax (which wouldn't have any leading indentation in a standalone `.graphql` file) inside of a JavaScript context, where leading indentation would make sense.

I agree this could be improved, though.

This isn't expected, and I don't have an explanation for it yet. Does this also happen in a stand-alone

[2022-07-18 18:06] eisukeesaki commented on #87
The extra indentation is not inserted in a `.graphql` file.